<?xml version="1.0" encoding="UTF-8"?>
<config>
	<database>C:/Data/DB/smallTestBook</database>
	<inventoryFile>file.csv</inventoryFile>
	<batchName>obermosel-1945-july</batchName>
	<input>C:/SmallTestBook</input>
	<outputDir>C:/Data/output</outputDir> <!-- where intermediate generate file are put before analysis, mainly a temp directory -->
	<verifiers><!-- metsverifier will save a atoi of data for each key under node verifiers-->
		<dataintegrity>
			<checkFile>1</checkFile>
			<checkSum>1</checkSum>
			<!--divs>1</divs-->
			<oddsPages>1</oddsPages>
			<unlinkedIdentifier>1</unlinkedIdentifier>	
		</dataintegrity>
		<semanticchecks>	
				<identifierMix>1</identifierMix>
				<dateFolderIssue>1</dateFolderIssue>
				<noIssueDefined>1</noIssueDefined>
				<invalidSupplement>1</invalidSupplement>
				<divs>1</divs>
		</semanticchecks>
		<blocks>
			<altoblockPerPage>1</altoblockPerPage>
			<blockStructure>1</blockStructure>
			<coveragePercentAlto>1</coveragePercentAlto>
			<multipleBlockUse>1</multipleBlockUse>
			<measurementSTD>1</measurementSTD>
		</blocks>
		<monograph>
			<structure>1</structure>
		</monograph>
		<inventoryBook>1</inventoryBook>
	</verifiers>
	<checkTitle>5</checkTitle> <!-- per 1000 -->
	<sampling>1000</sampling> <!-- per 1000 -->
	<dates>1</dates>
	<issueNumber>1</issueNumber>
	<XSDManager>
		<type>BNL</type>
		<addXSD>bnl-monograph_v1.0.xsd</addXSD>
		<lock></lock>
	</XSDManager>
	<XSDManager>
		<type>METS</type>
		<addXSD>mets.xsd</addXSD>
		<addXSD>mods-3-2.xsd</addXSD>
		<addXSD>mods-3-3.xsd</addXSD>
		<addXSD>xlink.xsd</addXSD>
		<addXSD>MARC21slim_bnl.xsd</addXSD>
		<lock></lock>
	</XSDManager>
	<XSDManager>
		<type>ALTO</type>
		<addXSD>alto-1-2.xsd</addXSD>
		<addXSD>alto-1-4.xsd</addXSD>
		<addXSD>nonexistingFile.xsd</addXSD>
		<lock></lock>
	</XSDManager>
	
</config>
