<?xml version="1.0" encoding="UTF-8"?>
<config>
	<database>C:/Data/DB/TESTSERIAL3</database>
	<inventoryFile>file2.txt</inventoryFile>
	<batchName>batch2</batchName>
	<subbatchName>socnatbul</subbatchName>
	<input>C:/SmallTest</input>
	<outputDir>C:/Data/output</outputDir> <!-- where intermediate generate file are put before analysis, mainly a temp directory -->
	<verifiers><!-- metsverifier will save a atoi of data for each key under node verifiers-->
		<dataintegrity>
			<checkFile>1</checkFile>
			<checkSum>0</checkSum>
			<oddsPages>1</oddsPages>
			<unlinkedIdentifier>1</unlinkedIdentifier>	
			<checkFilePNG>0</checkFilePNG>
		</dataintegrity>
		<divCount>1</divCount>
		<semanticchecks>	
				<Folder>1</Folder>
				<identifierMix>1</identifierMix>
				<emptyMix>1</emptyMix>
				<dateFolderIssue>1</dateFolderIssue>
				<noIssueDefined>1</noIssueDefined>
				<invalidSupplement>1</invalidSupplement>
		</semanticchecks>
	    <blocks>
			<altoblockPerPage>1</altoblockPerPage>
			<blockStructure>1</blockStructure>
			<coveragePercentAlto>1</coveragePercentAlto>
			<multipleBlockUse>1</multipleBlockUse>
			<measurementSTD>1</measurementSTD>
			<skipBlockInsidePrintSpace>0</skipBlockInsidePrintSpace>
		</blocks>
		<inventoryBook>1</inventoryBook>
		<dates>0</dates>
	</verifiers>
	<checkTitle>1000</checkTitle> <!-- per 1000 -->
	<sampling>100</sampling> <!-- per 1000 -->
	<issueNumber>1</issueNumber>
	<XSDManager>
		<type>BNLMonograph</type>
		<addXSD>bnl-monograph_v1.0.xsd</addXSD>
		<lock/>
	</XSDManager>
	<XSDManager>
		<type>BNLSerial</type>
		<addXSD>bnl-serial_v1.1.xsd</addXSD>
		<lock/>
	</XSDManager>
	<XSDManager>
		<type>BNLNewspaper</type>
		<addXSD>bnl-newspaper_v1.4.xsd</addXSD>
		<lock/>
	</XSDManager>
	<XSDManager>
		<type>METS</type>
		<addXSD>mets.xsd</addXSD>
		<addXSD>mods-3-2.xsd</addXSD>
		<addXSD>mods-3-3.xsd</addXSD>
		<addXSD>xlink.xsd</addXSD>
		<addXSD>MARC21slim_bnl.xsd</addXSD>
		<lock/>
	</XSDManager>
	<XSDManager>
		<type>ALTO</type>
		<addXSD>alto-1-2.xsd</addXSD>
		<addXSD>alto-1-4.xsd</addXSD>
		<!--addXSD>alto-2-0.xsd</addXSD-->
		<lock/>
	</XSDManager>
	
</config>
